body{
	margin: 0;
	padding: 0;
}

.options{
	height: 100%;
	width: 20%;
	background-color: #0F2E5A;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}